

<div class="text-center">
<button [useExistingCss]="true"
printSectionId="print-section"
ngxPrint mat-icon-button color="warn">
  <mat-icon>print</mat-icon>
</button></div>

<div  id="print-section">


  <!--
   <div style="text-align:right;">
    <b>Sender:</b> Phppot
  </div>
  <div style="text-align: left;border-top:1px solid #000;">
    <div style="font-size: 24px;color: #666;">INVOICE</div>
  </div>

  <b>Invoice:</b>

   <b>Receiver:</b>


  <b>Date:</b>



  <b>Payment Due:</b>


  <div></div>
  <div style="border-bottom:1px solid #000;">
    <table style="line-height: 2;">
        <tr style="font-weight: bold;border:1px solid #cccccc;background-color:#f2f2f2;">
            <td style="border:1px solid #cccccc;width:200px;">Item Description</td>
            <td style = "text-align:right;border:1px solid #cccccc;width:85px">Price ($)</td>
            <td style = "text-align:right;border:1px solid #cccccc;width:75px;">Quantity</td>
            <td style = "text-align:right;border:1px solid #cccccc;">Subtotal ($)</td>
        </tr>

  <tr> <td style="border:1px solid #cccccc;"></td>
                <td style = "text-align:right; border:1px solid #cccccc;"></td>
                <td style = "text-align:right; border:1px solid #cccccc;"></td>
                <td style = "text-align:right; border:1px solid #cccccc;"></td>
           </tr>



  <tr style = "font-weight: bold;">
  <td></td><td></td>
  <td style = "text-align:right;">Total ($)</td>
  <td style = "text-align:right;"></td>
  </tr>
  </table></div>
  <p><u>Kindly make your payment to</u>:<br/>
  Bank: American Bank of Commerce<br/>
  A/C: 05346346543634563423<br/>
  BIC: 23141434<br/>
  </p>
  <p><i>Note: Please send a remittance advice by email to vincy@phppot.com</i></p>
   -->
   <div class="container">
    <div class="row">
                <!-- BEGIN INVOICE -->
              <div class="col-md-12">
                <div class="grid invoice">
                  <div class="grid-body">
                    <div class="invoice-title">
                      <div class="row">
                        <div class="col-md-12" ><div style="font-size:xx-large;">
                          Electro <span style="color: red;">MWK</span>  </div>                     </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-12">
                          <h2>
                          <span class="small">order #{{iddata}}</span></h2>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-6" >
                        <address>
                          <strong>Billed To:</strong><br>
                          Name: {{report.userName}}<br>
                          Address: {{report.address}}<br>
                          Email: {{report.email}}<br>
                          <abbr title="Phone">P: {{report.phone}}</abbr>
                        </address>
                      </div>
                      <div  class="col-6  text-end ">
                        <address>
                          <strong>Order delivery Date: </strong><br>
                          {{report.orderPlace_Date| date:'medium'}} <br>


                        </address>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <address>
                          <strong>Payment Method:</strong><br>
                          {{report.payment_Type}}<br>

                        </address>
                      </div>
                      <div class="col-6  text-end ">
                        <address>
                          <strong>Order Date:</strong><br>
                          {{report.create_Date| date:'medium'}}
                        </address>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h3>ORDER SUMMARY</h3>
                        <table class="table table-striped">
                          <thead>
                            <tr class="line">
                              <td><strong>#</strong></td>
                              <td class="text-right"><strong>Product Name</strong></td>
                              <td class="text-right"><strong>Type Brand </strong></td>
                              <td class="text-right"><strong>Quentity</strong></td>
                              <td class="text-right"><strong>Prise</strong></td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let pro of report.reportDto">
                              <td></td>
                              <td><strong>{{pro.name}}</strong></td>
                              <td class="text-right">{{pro.subCategoryName}}</td>
                              <td class="text-right">{{pro.quantity}}</td>
                              <td class="text-right">${{pro.price}}</td>
                            </tr>

                            <tr>
                              <td colspan="3">
                              </td><td class="text-right"><strong>Total</strong></td>
                              <td class="text-right"><strong>${{report.total_Price}}</strong></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!-- END INVOICE -->
            </div>
    </div>
  </div>


