@media (max-width: 767.98px) {
  .border-sm-start-none {
    border-left: none !important;
  }
}
.hh {
  height: 205px;
}
.mm {
  margin: 80px 0 12px;
  font-size: 15px;
}
.text-muted {
  position: absolute;
  bottom: 25px;
}

.mainName {
  position: absolute;
  top: 50px;
  font-weight: 600;

  font-size: 20px;
}
.w-100 {
  width: 72% !important;
  height: 176px;
}
.bb {
  font-size: 18px;
  font-weight: 500;
}
