table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
img{
  width: 100px;
  height: 100px;
}
td{
  vertical-align: middle;
}
th {
  border: none;
  font-weight: bold;
}
.hand:hover{
  cursor: pointer;
}
