<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="content" class="content content-full-width">
        <!-- begin profile -->
        <div class="profile">
          <div class="profile-header">
            <!-- BEGIN profile-header-cover -->
            <div class="profile-header-cover"></div>
            <!-- END profile-header-cover -->
            <!-- BEGIN profile-header-content -->
            <div class="profile-header-content">
              <!-- BEGIN profile-header-img -->
              <div class="profile-header-img">
                <img src="{{ userImg }}" alt="" />
              </div>
              <!-- END profile-header-img -->
              <!-- BEGIN profile-header-info -->
              <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5">{{ UserName }}</h4>
                <!-- <p class="m-b-10">__________  </p> -->
                <!-- <a href="#" class="btn btn-sm btn-info mb-2">Edit Profile</a> -->
              </div>
              <!-- END profile-header-info -->
            </div>
            <!-- END profile-header-content -->
            <!-- BEGIN profile-header-tab -->
            <ul class="profile-header-tab nav nav-tabs">
              <li class="nav-item">
                <a href="/seller/profile/Products" class="nav-link_"
                  >Products</a
                >
              </li>
              <li class="nav-item">
                <a href="/seller/profile/OrderProduct" class="nav-link_"
                  >Orders</a
                >
              </li>

              <li class="nav-item">
                <a href="/seller/profile/New" class="nav-link_">Add Product</a>
              </li>
            </ul>
            <!-- END profile-header-tab -->
          </div>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
{{ errMsg1 }} <br />
{{ errMsg }}
