<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Products</h6>
                    <h2 class="text-right"><i class="fa fa-box f-left"></i><span class="fooo">486</span></h2>
                    <p class="m-b-0">Products<span class="f-right"></span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Users</h6>
                    <h2 class="text-right"><i class="fa fa-users f-left"></i><span class="fooo">486</span></h2>
                    <p class="m-b-0">Users<span class="f-right"></span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Orders </h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus  f-left"></i><span class="fooo">486</span></h2>
                    <p class="m-b-0">Orders<span class="f-right"></span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Sellers</h6>
                    <h2 class="text-right"><i class="fa fa-user-tie f-left"></i><span class="fooo">486</span></h2>
                    <p class="m-b-0">Sellers<span class="f-right"></span></p>
                </div>
            </div>
        </div>
	</div>
</div>
