
<section>
    <div class="container">



    		<!--Profile Card 3-->
    		<div >
    		    <div class="card profile-card-3">
    		        <div class="background-block">
    		            <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
    		        </div>
    		        <div class="profile-thumb-block">
    		            <img src="{{User.img}}" alt="profile-image" class="profile"/>
    		        </div>
    		        <div class="card-content">
                    <h2>{{User.userName}}<small>{{User.address}}</small></h2>
                    <h2>  {{User.phoneNumber}} </h2>
                    <h2>  {{User.email}} </h2>

                  </div>

                </div>
                <button (click)="Close()" class="btn btn-outline-dark mt-2"> Close</button>
    		</div>




    </div>
</section>
