<div class="col-md-12">
  <div class="row">
    <!-- product -->
    <table
      *ngIf="AllOrderProduct != null"
      class="table table-striped table-hover"
    >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <!-- <th scope="col">Product Image</th> -->
          <th scope="col">Order Id</th>
          <th scope="col">Order Approve</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="product col-3 mb-5"
          *ngFor="
            let prod of AllOrderProduct
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: curr,
                    totalItems: totalitems
                  }
          "
        >
          <!-- ////////////////////////////// -->
          <th scope="row">{{ prod.id }}</th>
          <td>{{ prod.product_NAME }}</td>
          <td>{{ prod.quantity }}</td>
          <!-- <td>
            <img src="{{ prod.Product_img }}" alt="" />
          </td> -->
          <td>{{ prod.order_ID }}</td>
          <td>
            <Button
              (click)="ChangeActivityStatus(prod.id, 'Accepted')"
              type="button"
              class="m-2 btn btn-success"
            >
              Accept</Button
            >
            <Button
              (click)="ChangeActivityStatus(prod.id, 'Rejected')"
              type="button"
              class="m-2 btn btn-danger"
            >
              Reject</Button
            >
          </td>

          <!-- //////////////////////////// -->
        </tr>
      </tbody>
    </table>

    <h1
      class="m-5 d-flex justify-content-center align-items-center"
      *ngIf="AllOrderProduct == null"
    >
      No Order Here , Be Ready To Receive Order
    </h1>
  </div>
</div>
