<div class='container'>
  <div class='window'>
    <div class='order-info'>
      <div class='order-info-content'>
        <h2>Order Summary</h2>
        <div class='line'></div>
        <div style="overflow: scroll; height: 380px ;">
          <table style="margin-right: 3%;" class='order-table' *ngFor="let item of cartproducts">
            <tbody>
              <tr>
                <td><img src='{{item.img}}' class='full-width'>
                </td>
                <td>
                  <br> <span class='thin'>Name: {{item.name}}</span>
                  <br>Type: {{item.subCategoryName}}<br> <span class='thin small'> Quantity:
                    {{item.quantity}}<br><br></span>
                </td>

              </tr>
              <tr>
                <td>
                  <div class='price'>${{item.price}}</div>
                </td>
              </tr>
            </tbody>

          </table>
          <div class='line'></div>
        </div>


        <div class='line'></div>
        <div class='total'>
          <span style='float:left;'>

            TOTAL
          </span>
          <span style='float:right; text-align:right;'>

            ${{totalprize}}
          </span>
        </div>
      </div>
    </div>

    <div class='credit-info'>
      <div class='credit-info-content'>
        <form [formGroup]='paymentform' (ngSubmit)="Payment()">
          <img src='assets/img/visa_logo.png' height='80' class='credit-card-image' id='credit-card-image'>

          <table class='half-input-table'>
            <tr>
              <td> State
                <select formControlName="State" class="form-control">
                  <option value="Cairo" selected >--Please Selet State--</option>
                  <option value="Cairo"  >Cairo</option>
                  <option value="Cairo"  >Assuit</option>
                  <option value="Cairo"  >Alexandria</option>
                </select>
              </td>
              <td >Address
                <input formControlName="Address" class="form-control">
              </td>
            </tr>
          </table>
          Card Number
          <input formControlName="CardNumber" class='input-field'>
          Card Holder
          <input formControlName="CardHolder" class='input-field'>
          <table class='half-input-table'>
            <tr>
              <td> Expires
                <input formControlName="Expires" class='input-field'>
              </td>
              <td>CVC
                <input formControlName="CVC" class='input-field'>
              </td>
            </tr>
          </table>
          <div class="input-group mt-3">
            <button [disabled]="paymentform.invalid" type="submit" class='btn btn-success form-control'>Payment</button>
            <button type="button" style="margin-left: 40%;" (click)="Close()"
              class='btn btn-danger form-control'>Close</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
